<div class="row">
  <div class="span12">
    <div class="hero-unit bigquote">
      <div class="copy">
        <h2>&ldquo;I'm simultaneously building &amp; destroying.</h2>
        <p>
        As you can see, there's not much hippo there,&rdquo; <em>Gillooly says, adding:</em> &ldquo;The hippo surgery was the highlight of the day.&rdquo;
        </p>

        <div class="credit" align="right">
          <small>Source:
            <cite><a href="http://providence.thephoenix.com/news/133438-at-the-hardware-hackathon-the-kegerator-goes-digi/">At the Hardware Hackathon: the Kegerator goes digital</a><br/>
              - <strong>Providence Phoenix</strong>, February 1, 2012</cite>.
          </small>
        </div>
      </div>

      <%= link_to(image_tag('hackfest.jpeg'), 'http://digital.olivesoftware.com/Olive/ODE/ProJo/LandingPage/LandingPage.aspx?href=VFBKLzIwMTIvMDEvMzA.&pageno=NA..&entity=QXIwMDQwMA..&view=ZW50aXR5', :class => 'hackfest-image thumbnail') %>
    </div>
  </div>
</div>

<div class="row more-mentions">
  <div class="span8">
    <h1>Hungrypotamus in the press</h1>

    <div class="press-mention">
      <h3><a href="http://blog.makezine.com/2012/01/31/last-weekends-betaspring-hackathon-netduinos-arduinos-and-hungry-hippos/">Last Weekend’s Betaspring Hackathon:<br/> Netduinos, Arduinos, and Hungry Hippos</a></h3>

      <div class="credit">
        <small>Source:
          <cite><strong>Make Magazine</strong>, January 31, 2012</cite>.
        </small>
      </div>
    </div>

    <div class="press-mention">
      <h3><a href="http://digital.olivesoftware.com/Olive/ODE/ProJo/LandingPage/LandingPage.aspx?href=VFBKLzIwMTIvMDEvMzA.&amp;pageno=NA..&amp;entity=QXIwMDQwMA..&amp;view=ZW50aXR5">Hackathon puts buzz, brainpower to use</a></h3>

      <div class="credit">
        <small>Source:
          <cite><strong>Providence Journal</strong>, January 30, 2012</cite>.
        </small>
      </div>
    </div>

    <div class="press-mention">
      <h3><a href="http://www.browndailyherald.com/hackathon-taps-into-city-s-tech-talent-1.2691971#.TygdwuMUFBU">Hackathon taps into city’s tech talent</a></h3>

      <div class="credit">
        <small>Source:
          <cite><strong>Brown Daily Herald</strong>, January 30, 2012</cite>.
        </small>
      </div>
    </div>

    <div class="press-mention">
      <h3><a href="http://news.providencejournal.com/breaking-news/2012/01/betaspring-hack.html?utm_medium=twitter&amp;utm_source=twitterfeed">Betaspring Hackathon awards recognition to 3 teams</a></h3>

      <div class="credit">
        <small>Source:
          <cite><strong>Providence Journal</strong>, January 29, 2012</cite>.
        </small>
      </div>
    </div>

  </div>

  <div class="span4">
    <%= render 'twitter' %>
  </div>
</div>
