<div class="player available_hippo <%= available_hippo.html_class %>">
  <% if @current_user_has_hippo %>
    <label>Available Hippo</label>
    <form class="form-inline">
      <button type="submit" class="btn">Invite a friend to play!</button>
    </form>
  <% else %>
    <label>Available Hippo</label>
    <form class="form-inline">
      <input type="text" placeholder="Your Name" class="input-medium" />
      <button type="submit" class="btn btn-primary">Play Now</button>
    </form>
  <% end %>
</div>
