<div class="player available_hippo <%= available_hippo.html_class %>">
  <p>Available Hippo</p>
  <form class="form-inline">
    <input type="text" placeholder="Your Name" class="input-medium" />
    <button type="submit" class="btn">Play Now</button>
  </form>
</div>
