<div id="video" class="hero-unit video-offline">
  <h1>Hungrypotamus is currently offline</h1>
  <p>Sign up for our email list to be notified of the next tournament.</p>
  <form class="form-inline" action="http://tinyletter.com/hungrypotamus" method="post">
    <input type="hidden" name="myurl" value="hungrypotamus" />
    <input type="hidden" name="referer" value="" />
    <input type="text" name="emailaddress" placeholder="you@rock.com" class="input-xlarge" />
    <button type="submit" class="btn btn-primary btn-large"><i class="icon-ok icon-white"></i> Sign me up!</button>
  </form>
</div>
