<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image: url(images/hippo_with_trophy.png); background-position: 0% 50%; background-size: cover; text-align:center;">
  <h1 style="color: #422;">Hungrypotamus!</h1>
  <p style="margin-top: 40px;">
    <a class="btn large" href="http://tinyletter.com/hungrypotamus">Watch Current Game &raquo;</a>
    <a class="btn primary large" href="http://tinyletter.com/hungrypotamus">Sign Up to Play &raquo;</a>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>About</h2>
    <p>It's the ancient game of skill, luck, and treachery.</p>
    <p>And hippos.  Can't forget the hippos.</p>
    <p>Now you can play from anywhere!  Connect online to play on a real board against real players.  Press your spacebar, and make a physical hippo eat.  Watch the whole thing on a webcam.  It's wild, bropotamus!</p>
  </div>
  <div class="span5">
    <h2>More Info</h2>
    <ul>
      <li><a href="http://digitalmeetsphysical.eventbrite.com/">Digital meets Physical</a> &raquo; The hackfest that started it all...</li>
      <li><a href="http://github.com/mattgillooly/hungrypotamus">Source Code</a> &raquo; Check it out!</a></p>
    </ul>
  </div>
  <div class="span5">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 250,
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#000000'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#000099'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('hungrypotamus').start();
    </script>
  </div>
</div>

<% content_for :extra_js do %>
  <script type="text/javascript" src="https://bellbot.com/js/?code=404737513"></script>

  <script src="http://api.jquery.com/scripts/events.js"></script>
  <script>
    function gloat() {
      $.post('/gloats');
    }

    function bite() {
      $.post('/bites');
    }
    
    $("body").keypress(function(event) {
      if ( event.which == 13 ) {
        event.preventDefault();
      }
      else if ( event.which == 103 ) {
        gloat();
      }
      else if ( event.which == 32 ) {
        bite();
      }
    });
  </script>
<% end %>
