<div class="row">
  <div class="span12">
    <% if @full %>
      <div class="alert alert-info">
        <strong>This game is full!</strong> Please wait, and we will notify you when a hippo has been freed up.
      </div>
    <% end %>

    <% if @alone %>
      <div class="alert alert-info">
        <strong>No one else is here!</strong> Invite your friends to come play!
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <% if @online %>
      <div id="video">
        Live Game Video
      </div>
    <% else %>
      <div id="video" class="hero-unit">
        <h1>Hungrypotamus is currently offline</h1>
        <p>Sign up for spam</p>
        <p>
          <a class="btn btn-primary btn-large">
            Learn more
          </a>
        </p>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <%= render @players %>
  </div>
</div>

<div id="chat">
  <table class="table table-striped" id="chat_events">
    <%= render @chat_events %>

    <% if @free_hippo %>
      <tr>
        <td colspan="2">
      <div class="alert alert-success">
        <strong>A hippo has freed up!</strong> Be the first to claim it and join the current game!
      </div>
    </td>
  </tr>
    <% end %>

  </table>

  <form>
    <input type="text" value="Say something" />
    <button type="submit" class="btn">Submit</button>
  </form>

</div>

