<div class="row">
  <div class="span12">
    <% if @full %>
      <div class="alert alert-info">
        <strong>This game is full!</strong> Please wait, and we will notify you when a hippo has been freed up.
      </div>
    <% end %>

    <% if @alone %>
      <div class="alert alert-info">
        <strong>No one else is here!</strong> Invite your friends to come play!
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= render @video %>
  </div>

  <div class="span4">
    <%= render @players %>
  </div>
</div>

<div id="chat">
  <table class="table table-striped" id="chat_events">
    <%= render @chat_events %>

    <% if @free_hippo %>
      <tr>
        <td colspan="2">
      <div class="alert alert-success">
        <strong>A hippo has freed up!</strong> Be the first to claim it and join the current game!
      </div>
    </td>
  </tr>
    <% end %>

  </table>

  <div id="chat-input">
    <form>
      <input type="text" placeholder="Say something&hellip;" class="input-large" />
      <button type="submit" class="btn">
        <i class=" icon-comment"></i> Submit
      </button>
    </form>
  </div>

</div>

