@import "twitter/bootstrap";

body {
  padding-top: 60px;
}

#video {
  background-color: black;
  color: white;
  height: 280px;
  padding: 60px;
}

#video h1, #video p {
  color: white;
}

#chat {
  border: 1px solid black;
  height: 280px;
  width: 100%;
}

.player {
  background-color: #cc9;
  height: 45px;
  padding: 20px;
  margin-bottom: 20px;
}

.player .name {
  padding-bottom: 10px;
  font-size: 16pt;
}

.sweetie {
  background-color: pink;
}

.bottomless {
  background-color: yellow;
}

.picky {
  background-color: orange;
}

.veggie {
  background-color: green;
}

